<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hash-wasm@4/dist/md5.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flow.js/2.9.0/flow.min.js"
            integrity="sha512-INFDFD1xV7jl324Jdh4OfH8B84OwvkMX8cp4QkIORlIpLmT5eXul1LjmyiwSdex4uw+3VjBa6xGLVPVKVPtuBQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.3.5/tailwind.css">

</head>
<body>
<div id="app">
    <v-app>
        <v-main>
            <div class="">
                <v-expansion-panels multiple accordion v-model="panel">
                    <v-expansion-panel>
                        <v-expansion-panel-header>
                            <div class="text-center text-2xl">
                                Imputing HLA variants using GWAS summary statistics
                            </div>
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <p>This website is a web interface for Direct Imputing Summary association statistics of HLA
                                variants as described in the paper: <a
                                        href="https://doi.org/10.1038/s41598-018-37840-9">Direct
                                    Imputing Summary Association Statistics for HLA Variants</a>. The R Script for
                                offline
                                use is at <a href="https://github.com/Ben-JWL/DISH">DISH</a>.</p>

                        </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-expansion-panel>
                        <v-expansion-panel-header class="text-2xl font-semibold text-white bg-blue-600">
                            1. Select Reference File
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <div class="flex flex-col pt-4">
                                <div class="flex flex-row">
                                    <div class="flex flex-col">
                                        <div>
                                            Reference panel population
                                        </div>
                                        <v-radio-group
                                                v-model="reference"
                                                mandatory
                                        >
                                            <v-radio
                                                    label="European"
                                                    value=0
                                            ></v-radio>
                                            <v-radio
                                                    label="Asian"
                                                    value=1
                                            ></v-radio>
                                            <v-radio
                                                    label="Custom"
                                                    value=2>
                                            </v-radio>
                                        </v-radio-group>
                                    </div>
                                    <div class="flex flex-col">
                                        <div>
                                            Genome reference build
                                        </div>
                                        <v-radio-group
                                                v-model="genome_build"
                                                mandatory
                                        >
                                            <v-radio
                                                    label="Hg18"
                                                    value="POS18"
                                            ></v-radio>
                                            <v-radio
                                                    label="Hg19"
                                                    value="POS19"
                                            ></v-radio>
                                        </v-radio-group>
                                    </div>
                                    <div class="grow"></div>
                                </div>
                                <div id="custom-file-select" v-show="reference_select['name'] === 'Custom'">
                                    <div class="flex flex-row">
                                        <div class="flex flex-col px-4">
                                            <v-btn class="p-4 border-4 border-indigo-500/75" id="reference-file">
                                                [[ reference_filename ? reference_filename : 'Upload Reference File']]
                                            </v-btn>
                                            <v-progress-linear
                                                    v-model="reference_progress"
                                                    :buffer-value="reference_progress_buffer"
                                            ></v-progress-linear>
                                            <v-btn class="p-4 border-4 border-indigo-500/75" id="reference-map">
                                                [[ reference_map_filename ? reference_map_filename : 'Upload Reference Map File']]
                                            </v-btn>
                                            <v-progress-linear
                                                    v-model="reference_map_progress"
                                                    :buffer-value="reference_map_progress_buffer"
                                            ></v-progress-linear>
                                        </div>
                                        <div class="grow"></div>
                                        <div class="grow-0">
                                            <h2 class="text-lg font-bold">
                                                How to upload your own reference files
                                            </h2>
                                            <p class="w-1/3">
                                                To use your own reference files, select the custom reference panel
                                                option.
                                                The reference file should be an LD matrix, with the reference
                                                map file
                                                providing a map between each row in the reference and the SNP id and
                                                position. The reference map file headers required are SNP_id, SNP_pos,
                                                Major,
                                                Minor and maf.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-expansion-panel>
                        <v-expansion-panel-header class="text-2xl font-semibold text-white bg-blue-600">
                            2. Upload Summary Statistics files
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <div class="flex flex-row pt-4">
                                <div class="flex flex-col pr-8 w-1/4 flex-initial">
                                    <v-btn class="p-4 border-4 border-indigo-500/75 w-full" id="summary-stats">
                                        [[ summary_filename ? summary_filename : 'Upload Summary Statistics File']]
                                    </v-btn>
                                    <v-progress-linear
                                            class="w-full"
                                            v-model="summary_progress"
                                            :buffer-value="summary_progress_buffer"
                                    ></v-progress-linear>
                                </div>
                                <div class="w-1/3">The website expects the sample summary to have the following headers:
                                    SNP_id,
                                    SNP_pos,
                                    Effect_allele, Non_effect_allele and Z.
                                    Effect Allele and Non Effect Allele must
                                    be capitalized. File formats supported include csv, tsv, parquet, feather.
                                </div>
                                <div class="grow"></div>

                            </div>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
                <div class="flex flex-row pt-4">
                    <div class="flex flex-col w-1/6 pl-4">
                        <a class='w-full' :href="download_link" v-if="loaded_result['result']">
                            <v-btn class="w-full">Download</v-btn>
                        </a>
                        <v-btn class="p-4 border-4 border-indigo-500/75 text-2xl font-semibold" @click="analyze()"
                               v-else>
                            [[ loaded_result ? loaded_result['status'] : 'Submit Job' ]]
                        </v-btn>
                        <v-progress-linear
                                v-model="analysis_progress"
                                stream
                        ></v-progress-linear>
                    </div>
                    <div class="pl-4 w-1/2">
                        After submitting, please do not refresh or move away from this page. Once the imputation is
                        finished, a result file will be directly downloaded from this page.
                    </div>
                    <div class="grow"></div>
                </div>
            </div>
        </v-main>
    </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            analysis_interval_id: 0,
            analysis_progress: 0,
            genome_build: 'POS18',
            loaded_result: '',
            panel: [0, 1, 2, 3],
            reference: 0,
            reference_file: '',
            reference_filename: '',
            reference_file_hash: '',
            reference_hash_computed: '',
            reference_progress: 0,
            reference_progress_buffer: 0,
            reference_panels: [
                {
                    'name': 'European',
                    'abbr': 'EUR',
                    'hashes': {
                        'hash': 'ed754e262a96b4f685dae01692acbad5',
                        'map_hash': '4bb95abf0ccbb5122b67756a3c219984',
                    }
                },
                {
                    'name': 'Asian',
                    'abbr': 'ASN',
                    'hashes': {
                        'hash': 'abefb1928ba6164b301a0b1104338953',
                        'map_hash': '6d058533cd8707f76239a310e7125073',
                    }
                },
                {
                    'name': 'Custom',
                    'abbr': 'CUS',
                    'hashes': {
                        'hash': '',
                        'map_hash': '',
                    }
                }
            ],
            reference_map: '',
            reference_map_filename: '',
            reference_map_hash: '',
            reference_map_hash_computed: '',
            reference_map_progress: 0,
            reference_map_progress_buffer: 0,
            result: '',
            summary_filename: '',
            summary_progress: 0,
            summary_progress_buffer: 0,
            summary_stats: '',
            summary_stats_hash: '',
        },
        methods: {
            analyze: function () {
                if (this.upload_selected()) {
                    fetch('/analyze', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            reference_file_hash: this.reference_hash_computed,
                            reference_map_hash: this.reference_map_hash_computed,
                            summary_stats_hash: this.summary_stats_hash,
                            genome_build: this.genome_build,
                            custom: this.reference_select['name'] === 'Custom',
                        })
                    }).then(response => response.json()).then(data => {
                        this.result = data.result;
                        this.analysis_interval_id = setInterval(() => {
                            this.load();
                        }, 1000);
                    });
                }
            },
            upload_selected: function () {
                if (this.reference_select === '') {
                    alert("Please select a reference panel.");
                    return;
                }
                if (this.reference_select['name'] === 'Custom') {
                    this.reference_hash_computed = this.reference_file_hash;
                } else {
                    this.reference_hash_computed = this.reference_select['hashes']['hash'];
                }
                if (this.reference_select['name'] === 'Custom') {
                    this.reference_map_hash_computed = this.reference_map_hash;
                } else {
                    this.reference_map_hash_computed = this.reference_select['hashes']['map_hash'];
                }

                if (this.reference_hash_computed === '' || this.reference_map_hash_computed === '' || this.summary_stats_hash === '') {
                    alert('Please upload all files');
                    return;
                }
                if (flow_summary.isUploading() || flow_reference.isUploading() || flow_reference_map.isUploading()) {
                    alert('Please wait for all files to finish uploading');
                    return;
                }
                clearInterval(this.analysis_interval_id);
                this.loaded_result = '';
                this.analysis_progress = 0;

                return true;
            },
            load: function () {
                fetch(this.result).then(res => {
                    res.json().then(text => {
                        this.loaded_result = text;
                        if (this.loaded_result['result']) {
                            this.analysis_progress = 100;
                            clearInterval(this.analysis_interval_id);
                            window.location.href = this.download_link;
                        } else if (this.loaded_result['status'] === 'FAILURE') {
                            clearInterval(this.analysis_interval_id);
                        } else {
                            this.analysis_progress = this.loaded_result['progress'] * 100;
                        }
                    });
                });
            },
            check: function (hash) {
                return fetch('/check/' + hash).then(res => {
                    return res.status === 200
                })
            },
        },
        computed: {
            download_link: function () {
                if (typeof this.loaded_result['result'] === 'string') {
                    return '/result/' + this.loaded_result['result'];
                }
                return '';
            },
            reference_select: function () {
                return this.reference_panels[this.reference];
            },

        },
        delimiters: ['[[', ']]']
    });


    const files = {};

    const chunkSizeHash = 64 * 1024 * 1024;
    const fileReader = new FileReader();
    let hasher = null;

    function hashChunk(chunk) {
        return new Promise((resolve) => {
            fileReader.onload = async (e) => {
                const view = new Uint8Array(e.target.result);
                hasher.update(view);
                resolve();
            };

            fileReader.readAsArrayBuffer(chunk);
        });
    }

    const readFile = async (file, progress) => {
        if (hasher) {
            hasher.init();
        } else {
            hasher = await hashwasm.createMD5();
        }

        const chunkNumber = Math.floor(file.size / chunkSizeHash);

        for (let i = 0; i <= chunkNumber; i++) {
            app.$data[progress] = i / (chunkNumber + 1) * 100;
            const chunk = file.slice(
                chunkSizeHash * i,
                Math.min(chunkSizeHash * (i + 1), file.size)
            );
            await hashChunk(chunk);
        }

        app.$data[progress] = 100;

        const hash = hasher.digest();
        return Promise.resolve(hash);
    };


    const flow_reference = new Flow({
        target: '/upload',
        maxChunkRetries: 5,
    });

    const flow_reference_map = new Flow({
        target: '/upload',
        maxChunkRetries: 5,
    });

    const flow_summary = new Flow({
        target: '/upload',
        maxChunkRetries: 5,
    });

    const add_file_handler = function (file, event, hash_target, progress_target, flow_target) {
        if (files[file.name]) {
            app.$data[progress_target] = 0;
            file.uniqueIdentifier = files[file.name];
            app.$data[hash_target] = files[file.name];
        } else {
            app.$data[progress_target] = 0;
            readFile(file.file, progress_target + '_buffer').then(hash => {
                file.uniqueIdentifier = hash;
                app.$data[hash_target] = hash;
                files[file.name] = hash;
                app.check(hash).then(res => {
                    if (res) {
                        app.$data[progress_target] = 100;
                        app.$data['loaded_result'] = '';
                    } else {
                        eval(flow_target).upload();
                    }
                });
                app.$data[progress_target + '_buffer'] = 100;
            });
        }
    }

    const success_handler = function (file) {
        app.$data['loaded_result'] = '';
        fetch('/finished', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                file: file.name,
                hash: file.uniqueIdentifier,
                size: file.size,
            }),
            keepalive: true,
        })
    }

    const progress_handler = function (flow_name, progress_bar_name) {
        app.$data[progress_bar_name] = eval(flow_name).progress() * 100;
    }

    flow_reference.on('fileAdded', (file, event) => add_file_handler(file, event, 'reference_file_hash', 'reference_progress', 'flow_reference'));
    flow_reference_map.on('fileAdded', (file, event) => add_file_handler(file, event, 'reference_map_hash', 'reference_map_progress', 'flow_reference_map'));
    flow_summary.on('fileAdded', (file, event) => add_file_handler(file, event, 'summary_stats_hash', 'summary_progress', 'flow_summary'));

    flow_reference.on('progress', () => progress_handler('flow_reference', 'reference_progress'));
    flow_reference_map.on('progress', () => progress_handler('flow_reference_map', 'reference_map_progress'));
    flow_summary.on('progress', () => progress_handler('flow_summary', 'summary_progress'));

    flow_reference.assignBrowse(document.getElementById('reference-file'), false, true, {'accept': '.csv, .tsv, .pq, .parquet, .parq, .feather'});
    flow_reference_map.assignBrowse(document.getElementById('reference-map'), false, true, {'accept': '.csv, .tsv, .pq, .parquet, .parq, .feather'});
    flow_summary.assignBrowse(document.getElementById('summary-stats'), false, true, {'accept': '.csv, .tsv, .pq, .parquet, .parq, .feather'});


    flow_reference.on('fileSuccess', (file, message) => success_handler(file));
    flow_reference_map.on('fileSuccess', (file, message) => success_handler(file));
    flow_summary.on('fileSuccess', (file, message) => success_handler(file));

</script>
</body>
</html>